.banner-bg {
    background: linear-gradient(to bottom, rgba(56, 56, 56, 0.882), rgba(16, 93, 117, 0.73)), url('../../../assets/banner.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}